@Scripts.Render("~/bundles/js/RoomList")
<div ng-app="RR" ng-controller="RoomListCtrl">
    <h2>Lista pomieszczeń</h2>
    @if (User.IsInRole("Admin"))
    {
        <button ng-click="edit()" class="btn btn-default">Dodaj pomieszczenie</button>
        @*@Html.ActionLink("Dodaj pomieszczenie", "RoomDetails", null, new { @class = "btn btn-default" })*@
    }
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped" style="margin-top:20px;">
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Szczegóły
                    </th>

                    @if (User.IsInRole("Admin"))
                    {
                        <th></th>
                        <th>
                        </th>
                    }
                </tr>
                <tr ng-repeat="room in rooms">
                    <td>
                        {{room.Name}}
                    </td>
                    <td>
                        {{room.Details}}
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <button type="button" ng-click="edit(room.Id)" title="Edytuj" class="btn btn-default btn-sm btn-usun  pull-right" style="margin-right:5px">
                                <span class="glyphicon glyphicon-cog "></span>
                            </button>
                            @*<a data-ng-href="@Url.Action("RoomDetails", "Room")/{{room.Id}}" class="btn btn-default btn-sm pull-right"
                                title="Edytuj" style="margin-right:10px;"><span class="glyphicon glyphicon-cog"></span></a>*@
                        </td>

                        <td>
                            <button type="button" ng-click="delete(room.Id)" title="Usuń" class="btn btn-default btn-sm btn-usun  pull-right" style="margin-right:5px">
                                <span class="glyphicon glyphicon-trash "></span>
                            </button>
                        </td>
                    }
                </tr>
            </table>
        </div>
    </div>

    <div id="modalRoomDetails" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Detale pomieszczenia</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("SaveRoomDetails", "Room", FormMethod.Post, new { name = "formSaveRoomDetails" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nazwa</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        @Html.TextBox("Name", "", new
                                   {
                                       @class = "form-control",
                                       placeholder = "Nazwa",
                                       ng_model = "editedRoom.Name",
                                       required = "required"
                                   })
                                    </div>
                                    <div class="text-danger" ng-show="formSaveRoomDetails.editedRoom.Name.$touched && formSaveRoomDetails.editedRoom.Name.$invalid">
                                        Niepoprawna wartość
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Szczegóły</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign" style="resize:none;" aria-hidden="true"></span></div>
                                        @Html.TextArea("Details", "", new
                                   {
                                       @class = "form-control",
                                       placeholder = "Szczegóły",
                                       ng_model = "editedRoom.Details",
                                       required = "required"
                                   })
                                    </div>
                                    <div class="text-danger" ng-show="formSaveRoomDetails.editedRoom.Details.$touched && formSaveRoomDetails.editedRoom.Details.$invalid">
                                        Niepoprawna wartość
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-usun" ng-click="saveDetails()">Zapisz</button>
                    <button type="button" class="btn btn-default btn-usun" ng-click="cancelEdit()">Anuluj</button>
                    @*                    @Html.ActionLink("Anuluj", "RoomList", "Room", null, new { @class = "btn btn-default" })*@
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>